services:
  web:
    build: .
    container_name: eserlive-website
    image: deno-image
    environment:
      # - DENO_DEPLOYMENT_ID=${DENO_DEPLOYMENT_ID}
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
    ports:
      - "8000:8000"
